<app-header />
<div id="fullpage">
  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source class="fullpage-image"
        media="(min-width: 768px)" 
        srcset="assets/web/webimg01.jpeg">
      <source class="fullpage-image"
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg01.jpeg">
      <img 
        src="assets/phone/phoneimg01.jpeg"
        class="fullpage-image" 
        loading="lazy" 
        alt="Vakko Banner">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <video [muted]="'muted'" loop autoplay src="assets/web/webvideo01.mp4" alt="Img2" class="fullpage-image"></video>
  </div>

  <a class="item-link">
    <div class="section">
      <div class="fp-bg"></div>
      <picture>
        <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg02.jpeg">
        <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg02.jpeg">
        <img 
        src="assets/phone/phoneimg02.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
      </picture>
      <div class="overlay-text"> SONBAHAR/KIŞ '24-25 </div>
    </div>
  </a>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg03.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg03.jpeg">
      <img 
        src="assets/phone/phoneimg03.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg04.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg04.jpeg">
      <img 
        src="assets/phone/phoneimg04.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
    <div class="overlay-text">VAKKO KADIN</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg05.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg05.jpeg">
      <img 
        src="assets/phone/phoneimg05.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko Banner">
    </picture>
    <div class="overlay-text">VAKKO ERKEK</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg06.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg06.jpeg">
      <img 
        src="assets/phone/phoneimg06.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">SHOES & BAGS</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg07.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg07.jpeg">
      <img 
        src="assets/phone/phoneimg07.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO EŞARP</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg08.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg08.jpeg">
      <img 
        src="assets/phone/phoneimg08.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">V2K DESIGNERS</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg09.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg09.jpeg">
      <img 
        src="assets/phone/phoneimg09.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">COUTURE</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg10.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg10.jpeg">
      <img 
        src="assets/phone/phoneimg10.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">KOZMETİK</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg11.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg11.jpeg">
      <img 
        src="assets/phone/phoneimg11.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">WEDDING</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg12.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg12.jpeg">
      <img 
        src="assets/phone/phoneimg12.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO HOME</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg13.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg13.jpeg">
      <img 
        src="assets/phone/phoneimg13.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">VAKKO L'ATELIER</div>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg14.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg14.jpeg">
      <img 
        src="assets/phone/phoneimg14.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
  </div>

  <div class="section">
    <div class="fp-bg"></div>
    <picture>
      <source 
        media="(min-width: 768px)" 
        srcset="assets/web/webimg15.jpeg">
      <source 
        media="(max-width: 768px)" 
        srcset="assets/phone/phoneimg15.jpeg">
      <img 
        src="assets/phone/phoneimg15.jpeg" 
        loading="lazy"
        class="fullpage-image" 
        alt="Vakko">
    </picture>
    <div class="overlay-text">WORLD OF VAKKO</div>
  </div>
</div>
<app-footer/>

  